$lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$myriad-pro: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$pt-serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
$helvetica: "Helvetica Neue", "HelveticaNeue", sans-serif;
$helvetica-neue: "Helvetica Neue", "HelveticaNeue", sans-serif;
$alegreya: Alegreya, Cambria, Georgia, serif;
$monospace: Menlo, Monaco, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;
$minion-pro: minion-pro, Georgia, serif;
$bariol: bariol, "arial rounded", sans-serif;
$bariol-bold: "Bariol Bold", "Arial Rounded MT Bold", sans-serif;
$bariol-light: "Bariol Light", "Arial Rounded MT Light", sans-serif;

%lucida-grande {
  font-family: $lucida-grande;
}

%myriad-pro {
  font-family: $myriad-pro;
}

%georgia {
  font-family: $georgia;
}

%pt-serif {
  font-family: $pt-serif;
}

%helvetica {
  font-family: $helvetica;
}

%helvetica-neue {
  font-family: $helvetica-neue;
}

%alegreya {
  font-family: $alegreya;
}

%monospace {
  font-family: $monospace;
}

%verdana {
  font-family: $verdana;
}

%minion-pro {
  font-family: $minion-pro;
}

%bariol {
  font-family: $bariol;
  font-weight: normal;
}

%bariol-bold {
  font-family: $bariol-bold;
  font-weight: normal;
}

%bariol-light {
  font-family: $bariol-light;
  font-weight: normal;
}
