%lucida-grande {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

%myriad-pro {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

%georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}

%pt-serif {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

%helvetica {
  font-family: "Helvetica Neue", "HelveticaNeue", sans-serif;
}

%helvetica-neue {
  font-family: "Helvetica Neue", "HelveticaNeue", sans-serif;
}

%alegreya {
  font-family: Alegreya, Cambria, Georgia, serif;
}

%monospace {
  font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}

%verdana {
  font-family: Verdana, Geneva, sans-serif;
}

%minion-pro {
  font-family: minion-pro, Georgia, serif;
}

%bariol {
  font-family: bariol, "arial rounded", sans-serif;
  font-weight: normal;
}

%bariol-bold {
  font-family: "Bariol Bold", "Arial Rounded MT Bold", sans-serif;
  font-weight: normal;
}

%bariol-light {
  font-family: "Bariol Light", "Arial Rounded MT Light", sans-serif;
  font-weight: normal;
}
